
/* AnVIL style */
/* Things above this comment should be identical to OTTR_Template style.css */
/* Things below this comment are AnVIL customizations */

.hero-image-container {
  height: 100px;
}

.page-inner {
  padding-top: 60px !important;
}

.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* fix the image urls since our AnVIL style is in a different location */
/* images paths are relative to the CSS file */

div.notice{
  background-image: url("../box_images/note.png");
}

div.warning{
  background-image: url("../box_images/warning.png");
}

div.github{
  background-image: url("../box_images/github.png");
}

div.dictionary{
  background-image: url("../box_images/dictionary.png");
}

div.reflection{
  background-image: url("../box_images/thinking_face.png");
}
